{
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "useTabs": false,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "preserve",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "singleQuote": true
      }
    }
  ],
  "files.exclude": {
    "**/.classpath": true,
    "**/.project": true,
    "**/.settings": true,
    "**/.factorypath": true,
    "**/.class": true,
    "**/.class.bak": true,
    "**/.exe": true
  }
}
