*.exe
imp.md
setup/a.cpp
setup/a.exe
setup/b.cpp
setup/b.exe
setup/c.cpp
setup/c.exe
setup/d.cpp
setup/d.exe
setup/e.cpp
setup/e.exe
setup/input.txt
setup/output.txt
setup/other/test.c
setup/other/test.java
setup/other/test.py
setup/other/test.pp
setup/other/Notes.md
setup/other/lc.cpp
setup/other/default.md
setup/lic/GNU.txt
setup/lic/LICENSE.txt
setup/lic/MIT